h1 {
  color: rgb(251, 251, 255);
  background-color: rgb(105, 104, 102);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
/* #content {
  background-color: grey;
} */
/* p.error {
  color: red;
}

p.success {
  color: green;
} */

a[href*="ejazahmed"] {
  background-color: peru;
  color: brown;
  text-decoration: none;
  text-transform: uppercase;
}

div {
  border: olive 1px solid;
  padding: 20px;
  margin: 20px;
}

p {
  border: inherit;
  padding: inherit;
}
